/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.rental-type,
.rental-title {
  color: #816a03;
}

.condo {
  color: cadetblue;
}

.house {
  color: #073f0f;
}
